@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Yellowtail");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0; }
  60% {
    transform: scale(1.2);
    opacity: 1; }
  100% {
    transform: scale(1); } }
@keyframes bounce {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@keyframes fadeIn {
  30% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes borderFlow1 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body p, ul, li {
  font-family: 'montserrat-thin', sans-serif !important;
  font-weight: lighter !important;
  font-size: .8em !important;
  line-height: 1.4em !important; }

.white {
  color: #f6f6f6 !important; }

.spotify {
  color: #69c489 !important; }

.skype {
  color: #1b98e0 !important; }

.pirate {
  color: #d00000 !important; }

body h2.title {
  font-family: 'uni_sansthin_caps';
  color: #808080;
  font-size: 1.2em;
  text-align: left; }
  body h2.title .top {
    position: fixed;
    top: 0;
    margin-bottom: 2em !important; }
  body h2.title.point span {
    color: #FF220C; }

span {
  color: #1b98e0; }

.centered {
  text-align: center !important; }

.behind {
  z-index: -999; }

.front {
  z-index: 999; }

.shapes-overlay {
  z-index: 999;
  display: block;
  display: inline-block;
  width: 100%;
  padding: 0.9em !important;
  box-sizing: border-box; }
  .shapes-overlay .line {
    border-image-slice: 1;
    padding: 10px 0 0 0;
    background-clip: content-box;
    position: relative;
    z-index: -999;
    opacity: 0;
    width: 70%;
    margin: 20px auto;
    animation: fadeIn 6s forwards; }
    .shapes-overlay .line.one:after, .shapes-overlay .line.one:before, .shapes-overlay .line.two:after, .shapes-overlay .line.two:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: ''; }
    .shapes-overlay .line.one:before {
      background: linear-gradient(to right, #1b98e0 0%, #065143 100%); }
    .shapes-overlay .line.one:after {
      background: linear-gradient(to left, #1b98e0 0%, #065143 100%);
      animation: borderFlow1 1s infinite; }
    .shapes-overlay .line.two {
      border-color: #1b98e0; }
      .shapes-overlay .line.two:before {
        background: linear-gradient(to left, #cfd7c7 0%, #FF220C 100%); }
      .shapes-overlay .line.two:after {
        background: linear-gradient(to right, #cfd7c7 0%, #FF220C 100%);
        animation: borderFlow1 1s infinite; }

.shapes-container {
  display: block;
  position: fixed;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .shapes-container:after {
    content: " ";
    display: block;
    clear: both; }
  .shapes-container .circle {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%; }
  .shapes-container .circle.peer {
    animation: bounceIn 5s, bounce 5s infinite;
    background: #0b2027;
    display: inline-block; }
  .shapes-container .server {
    background: #065143;
    height: 2em;
    width: 100%;
    margin: 1em 0;
    color: #f6f6f6; }

.shapes-container .sixth:nth-child(0) .circle.peer {
  animation-delay: -6s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(1) .circle.peer {
  animation-delay: -10s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(2) .circle.peer {
  animation-delay: -9s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(3) .circle.peer {
  animation-delay: -5s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(4) .circle.peer {
  animation-delay: -10s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(5) .circle.peer {
  animation-delay: -7s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(6) .circle.peer {
  animation-delay: -7s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(7) .circle.peer {
  animation-delay: -2s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(8) .circle.peer {
  animation-delay: -1s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(9) .circle.peer {
  animation-delay: -2s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(10) .circle.peer {
  animation-delay: -2s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(11) .circle.peer {
  animation-delay: -9s;
  content: "Baaaa"; }

.shapes-container .sixth:nth-child(12) .circle.peer {
  animation-delay: -1s;
  content: "Baaaa"; }

.half {
  width: 49.15254%;
  display: inline-block;
  padding-top: 100%; }

.twelfth {
  width: 6.77966%;
  display: inline-block; }

.sixth {
  width: 15.25424%;
  display: inline-block; }

.circle {
  width: 100%;
  height: auto;
  border-radius: 50%; }

.logo {
  max-width: 4em !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important; }

.c2s {
  top: 0 !important; }

.anon-fade {
  animation: borderFlow1 7.5s infinite;
  animation-timing-function: ease;
  /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */ }

.yellow {
  color: #FCD116 !important; }

.handwriting {
  font-family: 'Indie Flower', cursive !important; }

.utf-logo span {
  font-size: 3em; }

.video-js .vjs-tech {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  padding-top: 56.25% !important; }

.vjs-poster {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/*# sourceMappingURL=main.css.map */
