@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #f6f6f6;
  width: 100%; }

header {
  background-color: #0b2027;
  color: #f6f6f6;
  padding: 1.5em; }

main {
  padding: 1em;
  display: block;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  background: #fefefe; }
  main:after {
    content: " ";
    display: block;
    clear: both; }
  main .gui-button {
    width: 49.15254%;
    margin: .5em 0; }
    main .gui-button .wrap {
      margin: 0 .5em; }

.logEntry {
  padding: .5em;
  color: white;
  transition: all 1s;
  opacity: 1; }
  .logEntry.external-src {
    background: #065143; }
  .logEntry.internal-src {
    background: #2ca58d; }
  .logEntry span {
    padding: 1em;
    font-size: 1.2em; }
  .logEntry p {
    display: inline-block; }
  .logEntry .src {
    font-family: 'Space Mono', monospace;
    color: #fdfdfd; }

.gui-button {
  transition: all 1s;
  opacity: 1;
  width: 100%;
  background: none;
  border: none;
  color: white; }
  .gui-button .wrap {
    padding: 1em;
    transition: background .2s;
    background: #1b98e0; }
    .gui-button .wrap:hover {
      background: #105a85; }

.pre-appear {
  opacity: 0; }

/*# sourceMappingURL=styles.css.map */
