
$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);

body{

  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #f6f6f6;
  width: 100%;

}
header{
  background-color: $dBlue;
  color: #f6f6f6;
  padding: 1.5em;
}


$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;
$container-style: fluid;
main{
  padding: 1em;
  display: block;
  @include container(100em);
  // @include susy-breakpoint(34em 62em) {
  //   @include container(50%);
  // }
  background: #fefefe;
  .gui-button{
    width: span(6);
    margin: .5em 0;
    .wrap{
      margin: 0 .5em;
    }

  }
}

.logEntry{
  padding: .5em;
  color: white;
  transition: all 1s;
  opacity: 1;
  &.external-src{
    background: $green;
  }
  &.internal-src{
    background: $lgreen;
  }
  span{
    padding: 1em;
    font-size: 1.2em;
  }
  p{
    display: inline-block;

  }
  .src{
    font-family: 'Space Mono', monospace;
    color: #fdfdfd;
  }
}



.gui-button{

  transition: all 1s;
  opacity: 1;
  width: 100%;
  background: none;
  border: none;
  color: white;
  &#connectPeer,&#openSocket{



  }
  .wrap{

    padding: 1em;
    transition: background .2s;
    background: $tBlue;
    &:hover{
      background: darken($tBlue, 20%);
    }
  }
}

.pre-appear{
  opacity: 0
}
