<!doctype html>
<html>
{% load staticfiles %}

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="{% static 'lib/css/zenburn.css' %}">
		<link rel="stylesheet" href="{% static 'sass/lib/theme/black.css' %}">
		<link rel="stylesheet" href="{% static 'sass/lib/reveal.css' %}">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{% static 'lib/css/zenburn.css' %}">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '{% static "sass/lib/print/print.css" %}' : '{% static "sass/lib/print/paper.css" %}';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>


    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="{% static 'css/present/main.css' %}">




	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
				</section>
        <section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
          <h2 class="title">Are <span>peer to peer</span> networks a viable model for the future?</h2>
        </section>

				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
          <h2 class="title">About the <span>project</span></h2>
        </section>

				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
          <h2 class="title top centered">What is a <span>Peer to peer network?</span></h2>
					<div class="animation-container">
						<div class="shapes-container front">
							<div class="sixth">
								<div class="peer circle">
								</div>
							</div>

							<div class="sixth">
							</div>
							<div class="sixth">
							</div>
							<div class="sixth">
							</div>


							<div class="sixth">
								<div class="peer circle">
								</div>
							</div
						</div>
					</div>
						<div class="shapes-overlay behind">
							<div class="line one">
							</div>
							<div class="line two">
							</div>
						</div>
					</div>
					<p>A peer to peer network is a type of communication between computers, where data is transferred <span>directly between the peers</span></p>
        </section>

				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" class='c2s'>
					<h2 class="title top centered">What is a <span>Client-Server Network?</span></h2>
					<p>A computer network in which one centralized, powerful computer <span>called the server</span> is a hub to which many less powerful personal computers or workstations (called clients) are connected.</p>

					<div class="animation-container">
						<div class="shapes-container front">
							<div class="square server">
								<p>Server</p>
							</div>
							<div class="sixth">
								<div class="peer circle">
								</div>
							</div>

							<div class="sixth">
								<div class="peer circle">
								</div>
							</div>
							<div class="sixth">
								<div class="peer circle">
								</div>
							</div>


							<div class="sixth">
								<div class="peer circle">
								</div>
							</div>
							<div class="sixth">
								<div class="peer circle">
								</div>
							</div>
						</div>
					</div>
				</section>



				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
          <h2 class="title top centered">Very good. But why is that <span>important?</span></h2>

					<section></section>
					<section>
						<h2 class="title top centered point"><span>Privacy</span></h2>
					</section>

					<section>
						<h3>73% </h3>
						<p>"It is extremely important to not have someone watching or listening to them without permission."</p>
					</section>
					<section>
						<h3>59% </h3>
						<p>"people should have the ability to use the internet completely anonymously."</p>
					</section>

					<section><h2 class="title top centered point"><span>No single dependency</span></h2></section>
					<section>
						<p> Data is shared across a network. One node is not solely responsible for data.</p>
					</section>
					<section><h2 class="title top centered point"><span>Protection of data on a network basis</span></h2></section>
					<section>
						<h3>81% </h3>
						<p>"Internet users or smartphone owners said they had employed  steps to mask their identity or avoid being observed online"</p>
					</section>
        </section>


<!-- Reestablish purpose -->
				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
						<h2 class="title centered"><span>So...</span></h2>
					</section>
					<section>
						<h2 class="title centered">Are Peer to Peer networks a <span>viable model<span> for the future?</h2>

					</section>

        </section>



<!-- In action -->
				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
						<h2 class="title centered point">Peer to peer in <span>action<span></h2>

					</section>

        </section>


<!-- In action -->
				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
						<h2 class="title top centered point skype">Skype</h2>
							<img class="logo" src='{% static "img/present/skype.png" %}'/>
							<p>Skype is a internet based telephony and video messaging service, originally developed by Skype Technologies, now under the Microsoft Corporation.
Skype boasts roughly 300 million active users (as of 2016), making it an integral part of the online communication framework.</p>
					</section>


					<section>
						<h2 class="title top centered point spotify">Spotify</h2>
							<img class="logo" src='{% static "img/present/spotify.png" %}'/>
							<p>Spotify is a music streaming service, created by Spotify AB in 2008. According to research performed in May 2016, Spotify was listed as the 2nd most popular method of online streaming (30%), second only to YouTube.</p>
					</section>


					<section data-background-color='#282828'>
						<h2 class="title top centered point pirate">Pirate Bay</h2>
							<img class="logo" src='{% static "img/present/pb.png" %}'/>
							<p class="white">The Pirate Bay is an online file sharing site, which uses peer to peer technologies to transfer data around the world.
The Pirate Bay’s name has become synonomous with copyright infringement, and illegally downloading software, films and TV shows for free, circumventing any preventative digital rights management technology.</p>
					</section>
        </section>



				<section data-background-color="#d00000" data-transition="slide-in fade-out" >
					<h2 class="title top centered white">Ethical Issues of P2P</h2>

				</section>

				<section>
					<h2 class="title centered"> Copyright Enforcement </h2>
				</section>
				<section>
					<h2 class="anon-fade title centered"> Anonymity </h2>
				</section>

				<section>
					<h2 class="title centered"> Safe Data Provisions </h2>
				</section>

				<section>
					<h2 class="title centered"> Sharing of illegal data </h2>
				</section>



				<section data-background-color="#1b98e0" data-transition="slide-in fade-out" >
					<h2 class="title top centered white">Uses of the P2P model</h2>
				</section>


				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
							<h2 class="title top centered yellow">Shared Video Network (Shine)</h2>
					</section>

				</section>

				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
						<h2 class="title"> Purpose </h2>
					</section>
							<section>
								<p class="handwriting">
									The aim of the project is to prove that despite existing networking models being adequate for needs today, the future of networking could lie in the field of <span>peer to peer technologies</span>. 							</p>
							</section>
				</section>


				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
						<h2 class="title"> Programming </h2>
					</section>
					<section>
						<img class="logo" src="https://www.google-melange.com/archive/gsoc/2015/orgs/python/logo-200.png"/>

						<p>
							The program will be written in Python, using existing modules available for the language.
						</p>
					</section>

					<section>
							<h2 class="title centered">
									Socket
							</h2>
								<p>This module provides access to the BSD socket interface. It is available on all modern Unix systems, Windows, Mac OS X, BeOS, OS/2</p>
					</section>


						<section>
							<h2 class="title centered">
										Tornado
							</h2>
								<p class="utf-logo"><span> 	&#127744; </span></p>
								<p>Tornado is a Python web framework and asynchronous networking library, originally developed at FriendFeed.</p>
						</section>

						<section>
								<img class="logo" src="http://nashvillesoftwareschool.com/images/technologies/django.png"/>
								<p>  A free and open-source web framework, written in Python, which follows the model-view-template (MVT) architectural pattern. </p>
						  <!-- <br>
							<section>
								<img class="logo" src="https://www.google-melange.com/archive/gsoc/2015/orgs/python/logo-200.png"/>
							</section> -->
						</section>

						<section>
							<h2 class="title centered">
							</h2>
						</section>

						<section>
							<h2 class="title centered">
									OpenCV2
							</h2>
							<img class="logo" src="https://jayrambhia.files.wordpress.com/2012/06/opencv_hor_900_1.jpg"/>
							<p>A library of programming functions mainly aimed at real-time computer vision.</p>

						</section>
				</section>

				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
						<h2 class="title"> Project Structure </h2>
					</section>
							<section>

								<h2 class="title"></h2>
								<p class="handwriting">
									Each peer instance on the network has 3 main components.
									<ul>
										<li>GUI - In the browser.</li>
										<li>Server - To transfer data to backend to the browser.</li>
										<li>Server - To transfer data from peer to peer.</li>
									</ul>
								</p>
							</section>


							<section>
								<h2 class="title">GUI</h2>
								<p class="handwriting">
									In order for the user to see what is going on, the GUI needs to receive information.
								</p>
							</section>

							<section>
								<h2 class="title">Server for GUI </h2>
								<p class="handwriting">
									In order for the user to see what is going on, the GUI needs to be sent information.
								</p>
							</section>


							<section>
								<h2 class="title">Server for Peer to Peer </h2>
								<p class="handwriting">
									In order for something to be going on, two peers needs to talk to each other.
								</p>

							</section>

				</section>



				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
						<h2 class="title"> Data transfer between peers </h2>
					</section>
							<section>

								<h2 class="title"></h2>
								<p class="handwriting">
									Each peer opens a port for communication
								</p>
							</section>
							<section>

								<h2 class="title"></h2>
								<p class="handwriting">
									Each peer opens a port for receiving data
								</p>
							</section>

							<section>

								<h2 class="title"></h2>
								<p class="handwriting">
									The two computers connect to each other
								</p>
							</section>

							<section>
								<p class="handwriting">
									A video is chosen by the user
								</p>
								<img class="" src='{% static "img/present/select.png" %}'/>
							</section>

							<section>
								<p class="handwriting">
									The video is selected, and user is given the option to send.
								</p>
								<img class="" src='{% static "img/present/send.png" %}'/>
							</section>

							<section>
								<p class="handwriting">
									On the other end, the client begins to receive the video.
								</p>
								<video data-autoplay class="" src='{% static "img/present/record.mkv" %}'/>
							</section>




				</section>





				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
						<img class="" src="{% static 'img/present/screen.png' %}">
					</section>


				</section>


				<section data-background-color="#fdfdfd" data-transition="slide-in fade-out" >
					<section>
						<h2 class="title"> Development Progression </h2>
					</section>
							<section>
								<p class="handwriting">
									The aim of the project is to prove that despite existing networking models being adequate for needs today, the future of networking could lie in the field of <span>peer to peer technologies</span>. 							</p>
							</section>
				</section>


						<!-- <section>
							<h2 class="title">  </h2>
						</section>

						<section>
							<h2 class="title"> Screenshots </h2>
						</section>

						<section>
							<h2 class="title"> Demo? </h2>
						</section> -->






			</div>
		</div>






		<link rel="stylesheet" href="{% static 'sass/lib/theme/black.css' %}">

		<script src="{% static 'lib/js/head.min.js' %}"></script>
		<script src="{% static 'js/reveal.js' %}"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: '{% static  "plugin/markdown/marked.js" %}' },
					{ src: '{% static  "plugin/markdown" %}/markdown.js' },
					{ src: '{% static  "plugin" %}/notes/notes.js', async: true },
					{ src: '{% static  "plugin" %}/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
