@import "../vars.scss";
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


@keyframes bounceIn {
  0% {
    transform: scale(0.1);

    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes borderFlow1 {

  0%{
    opacity: 1;
  }
 50%{
    opacity: 0;
 }
 100%{
    opacity: 1;

 }
}
