@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import "../lib/susy";
@import "../vars.scss";
@import "_animations.scss";

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);


body p,ul,li{
  font-family: 'montserrat-thin', sans-serif !important;
  font-weight: lighter !important;
  font-size: .8em !important;
  line-height: 1.4em !important;
}
.white{
  color: #f6f6f6 !important;
}
.spotify{
  color: #69c489 !important;
}
.skype{
  color: $lBlue !important;
}
.pirate{
  color: $dred !important;
}
body h2.title{

    font-family: 'uni_sansthin_caps';
    color: #808080;
    font-size: 1.2em;
    text-align: left;

    .top{
      position: fixed;
      top:0;
      margin-bottom: 2em !important;
    }

    &.point{
      span{
        color: $orange;
      }
    }
    }
body h2.title span{
}
span{
  color: $lBlue;
}
.centered{
  text-align: center !important;
}
.behind{
  z-index: -999;
}
.front{
  z-index: 999;
}
.shapes-overlay{
  z-index: 999;
  display: block;
  .line{
    &.one:after, &.one:before,&.two:after, &.two:before  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content:'';
    }
    &.one{
      &:before{
        background: linear-gradient(to right, $tBlue 0%, $green 100%);


      }
      &:after{
        background: linear-gradient(to left, $tBlue 0%, $green 100%);

        animation: borderFlow1 1s infinite;
      }
      // border-color: $orange;
      // animation: borderFlow1 3s infinite;
    }
    &.two{
      &:before{
        background: linear-gradient(to left, $lgrey 0%, $orange 100%);

      }
      &:after{
        background: linear-gradient(to right, $lgrey 0%, $orange 100%);

        animation: borderFlow1 1s infinite;
      }
      border-color: $tBlue;
    }
    //-moz-border-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
	  //-webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
	  border-image-slice: 1;
    padding: 10px 0 0 0;
    background-clip: content-box;
    position: relative;
    z-index: -999;
    opacity: 0;
    width: 70%;
    margin: 20px auto;
    animation: fadeIn 6s forwards;

  }
  display: inline-block;
  width: 100%;
  padding: 0.9em !important;
  box-sizing: border-box;
}
.shapes-container{
  display: block;
  position: fixed;
  text-align: center;
  width: 100%;
  @include container(100%);
  .circle{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;

  }
  .circle.peer{
    animation: bounceIn 5s, bounce 5s infinite;
    background: $dBlue;
    display: inline-block;
    //animation-delay: random(10)+s;

  }
  .server{
    background: $green;
    height: 2em;
    width: 100%;
    margin: 1em 0;
    color: #f6f6f6;
  }
}
@for $i from 0 through 12{
  .shapes-container .sixth:nth-child(#{$i}){
    .circle.peer{

        animation-delay: - random(10)+s;
        content: "Baaaa";

    }
  }
}

.half{
  width: span(6);
  display: inline-block;
  padding-top: 100%;
}
.twelfth{
  width: span(1);
  display: inline-block;
}
.sixth{
  width: span(2);
  display: inline-block;

}
.circle{
  width: 100%;
  height: auto ;
  border-radius: 50%;

}
.logo{
  max-width: 4em !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}
.c2s{
  top: 0 !important;

}
.anon-fade{
  animation: borderFlow1 7.5s infinite;
  animation-timing-function: ease; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */

}
.yellow{
  color: $yellow !important;
}

.handwriting{
  font-family: 'Indie Flower', cursive !important;

}
.utf-logo span{
  font-size:3em;
}

 .video-js .vjs-tech  {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    padding-top: 56.25% !important;

}

.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
