{% extends "default.html" %}
{% load staticfiles %}

{% block title %}<h1>Welcome {{ user }}</h1>{% endblock %}

{% block content %}
<div id="javascript-log">
</div>


<main>
<div id="settings">

</div>
<div class="main-content">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<video id="my-video" class="video-js" controls preload="auto"
poster="{% static 'data/p/1.png' %}"  data-setup='{"fluid": true}'>
  <source src="{% static 'data/v/1.mp4' %}" type='video/mp4'>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>



</div>
<div id="options">
</div>

</main>
{% endblock %}

{%block scripts%}
<script src="http://vjs.zencdn.net/5.16.0/video.js"></script>

<script type="text/javascript">
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}


function addLogEntry(data,src){
  logContainer = document.getElementById('javascript-log')
  logContainer.innerHTML += '<div class="logEntry '+src+'-src pre-appear" ><span class="src">'+src+':/</span><p>' + data + '</p></div>';
  setTimeout(function(){
    for (var i = 0; i < logContainer.children.length; i++) {
      //Just make sure all the things are appearing properly.
      logContainer.children[i].classList.remove('pre-appear');
    }
  },100)
}
function updateOptions(options){
  optionsContainer = document.getElementById('options')
  optionsContainer.innerHTML = ""
  for (var i = 0; i < options.length; i++) {
      //add the options given by the backend to the GUI for the user to clickity click
      addOption(options[i]);
  }

  //Reiterate through adding those all important event listeners.
  for (var i = 0; i < options.length; i++) {
      addELforOption(options[i]);
  }

}
function addOption(option){
  optionsContainer = document.getElementById('options')

  optionsContainer.innerHTML += '<button id="'+option.name+'" class="gui-button" data-id="'+option.id+'"><div class="wrap">'+option.description+'</div></button>';
  //optionsContainer.children[optionsContainer.children.length-1].classList.remove('pre-appear');

}

function addELforOption(option){
  document.getElementById(option.name).addEventListener('click', function() {
      addLogEntry(option.description,'internal')
      send_delay(JSON.stringify(option));
      //validation code to see State field is mandatory.
  });
}
window.onload = function() {
    socket = new WebSocket("ws://" + window.location.host + '/ws/');
    //  async function sendD(e) {
    //    console.log(e.data);
    //    await sleep(5000);
    //    socket.send("")
    //  }
    socket.onmessage = function(e) {
        message = JSON.parse(e.data);
        if(message.type == "OPTIONS"){//This is more than just a message
          updateOptions(message.options);
        }
        else{//Assume message for now
          setTimeout(addLogEntry(message.message,'external'), 1000);

        }


    }


    socket.onopen = function() {
        //this.send("beginSending");
    }
    // Call onopen directly if socket is already open
    if (socket.readyState == WebSocket.OPEN) socket.onopen();


    send_delay = function(message, callback) {
        this.waitForConnection(function() {
            socket.send(message);
            if (typeof callback !== 'undefined') {
                callback();
            }
        }, 1000);
    };

    this.waitForConnection = function(callback, interval) {
        if (socket.readyState === 1) {
            callback();
        } else {
            var that = this;
            // optional: implement backoff for interval here
            setTimeout(function() {
                that.waitForConnection(callback, interval);
            }, interval);
        }
    };




    // if(yourWsObject.readyState === yourWsObject.CLOSED){
    //    settingsArea = document.getElementById('settings')
    //    settingsArea.innerHTML += '<button id="connectPeer" class="gui-button"> Connect Peer to IP address</button>'
    // }



}
</script>
{%endblock%}
